<%- include("partials/header"); -%>


    <h1>
        <%=title%>
            &nbsp;&nbsp;
            <span>Author: <%= author %> </span>
    </h1>
    <img src="<%= image %>" width="50%" height="60%" alt="Image">
    <p>
        <%=content%>
    </p>



    <%- include("partials/footer"); -%>